.accordionPanel {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  
  .accordionItem {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .topicAccordion {
    border: 3px solid #242424;
    background-color: whitesmoke;
    font-size: 45px;
    width: 100%;
    text-align: left;
    transition: 0.5s;
    padding: 10px;
  }
  
  .active,
  .topicAccordion:hover {
    background-color: rgb(177, 177, 177);
  }
  
  .questionPanel {
    padding: 0px 10px;
    font-size: 30px;
    display: none;
  }
  
  .column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .column h3 {
    margin: 5px;
    text-align: center;
    flex: 1;
  }
  
  .questionPanel a:link,
  .questionPanel a:visited {
    color: whitesmoke;
  }
  
  .topicAccordion:after {
    content: "\22C1";
    margin-right: 15px;
    color: #242424;
    float: right;
  }
  
  .active:after {
    content: "\22C0";
    margin-right: 15px;
  }
  