* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    color: #242424;
    font-size: 18px;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;

    background-color: white;

}

#container {
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 25px;
}

#left-section, #right-section {
    width: 50%;
    padding: 2em;
    box-sizing: border-box;
}

#question-title, #question-description{
    border: 1px solid #242424;
    text-align: center;
    background-color: whitesmoke;
}

#question-description {
    margin-top: 25px;
}

#info-box {
    border: 1px solid #242424;
    background-color: whitesmoke;
    padding: 1em;
    margin-top: 2em;
}

#user-code {
    width: 100%;
    height: 300px;
    font-size: 16px;
    padding: 1em;
    background-color: whitesmoke;
    color: black;
    margin-bottom: 1em;
}

#run-code {
    color: white;
    background-color: #242424;
    border: 3px solid #555;
    padding: 1em;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 1em;
}

#run-code:hover {
    background-color: rgba(85, 85, 85, 0.644);
}

#code-output {
    color:white;
    background-color: #848484;
    padding: 1em;
    min-height: 100px;
    font-size: 16px;
}

h1, h3 {
    margin-top: 0;
}


body {
    display: flex;
    flex-direction: column;
    /* Other styles... */
}

#right-section {
    display: flex;
    flex-direction: column;
    height: 75vh;  /* assuming your nav bar has height of 60px */
    padding: 0;
}

#user-code {
    height: 50%;
}

#code-output {
    height: 35%;
    overflow: auto;
    resize: both;
    min-height: 30%;

}

#example-section {
    border: 1px solid #242424;
    background-color: whitesmoke;
    padding: 1em;
    margin-top: 2em;
    /* Other styles... */
}

#run-code {
    margin-top: 15px;
    margin-bottom: 25px;
    /* Other styles... */
}

#matrixImage {
    height: 100%;
    width: 100%;
}

/* #pseudo-content td:nth-child(2n) {
    text-indent: 1em;
} */
#pseudo-content td:nth-child(2n){
text-indent: 2em;
}