* {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

#mainSection {
    margin: 50px 0px 50px 0px;
    padding: 25px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: rgba(112, 112, 112, 0.329);
}

.progressStyles {
    font-size: 64px;
    padding: 25px;
    border-radius: 10px;
    border-style: solid;

}

.codeProgress {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.progressBars {
    margin-bottom: 10px;
}

.progressButtons {
    padding: 10px 20px; 

    color: #000000; 
    transition: background-color 0.3s ease; 
    box-shadow: none;
    border: 2px solid #000000;



    font-size: 32px;
    font-weight: 700;
  }

  /* CSS styles for button hover effect */
  .progressButtons:hover {
    background-color: #b4b4b4;
}

#middleSection {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 2em 10em 2em 8em;


    background-color: rgba(112, 112, 112, 0.329);
}

#topicSelection, #challengeSection {
    padding: 35px;
    border: solid;
}

#topicSelection h3, #challengeSection h3 {
    margin-bottom: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

th, td {
    padding: 5px 50px 5px 50px;
    font-size: 20px;
}



#externalContent > h2 {
    text-align: center;
    font-size: 64px;
    border-bottom: solid;

    width: 100%;
    margin-bottom: 50px;
}

#externalContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}


.contentDivs > h3 {
    font-size: 42px;
    padding-bottom: 1em;
} 

.contentLinks img{
    background-color: rgba(255, 255, 255, 0.781);
    height: 375px;
    width: 400px;

    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #2C3333;
}