/* * {
    border-width: 1px;
    border-style: solid;
} */



#mainSection {
    margin: 50px 100px 25px 100px;
    padding: 25px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: rgba(112, 112, 112, 0.329);
}

.progressStyles {
    font-size: 64px;
    padding: 25px;
    border-radius: 10px;
    border-color: blue;
    border-style: solid;
    background: rgb(7, 48, 124);
    color: white;

}

.codeProgress {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.progressBars {
    margin-bottom: 10px;
}

.progressButtons {
    padding: 10px 20px; 
    background-color: #289c41; 
    color: #fff; 
    transition: background-color 0.3s ease; 
    border: none;
    box-shadow: none;


    font-size: 25px;
  }

  /* CSS styles for button hover effect */
  .progressButtons:hover {
    background-color: #1a551f;
}

#middleSection {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;

    padding: 0 125px 0 125px;
    background-color: rgba(112, 112, 112, 0.329);
}

#topicSelection, #challengeSection {
    background-color: rgba(0, 0, 255, 0.158);
    padding: 35px;
}

#topicSelection h3, #challengeSection h3 {
    margin-bottom: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

th, td {
    padding: 5px 50px 5px 50px;
}
