* {
    margin: 0;
    background-color: #28282b;
    color:aliceblue;
}

h1{
    font-size: 200px;
    text-align: center;
}

h2 {
    font-size: 50px;
    text-align: left;
}

#questionActivity, #workspaceActivity #answerActivity {
    background-color:aliceblue;
    width: 80%;
    margin: 20px;
}
div > p {
    padding: 30px;
}